*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  height: 400px;
  background: white;
  border: solid 2px #33454e
}
.projectImg {
  margin-top: 20px !important;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: auto;
}

.card:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.projectData {
  margin: auto;
  max-height: 200px;
  bottom: 0;
}

.card-link:link, .card-link:visited, .card-link:active {
  text-decoration:none !important;
}

@media (max-width: 1000px){
  .main{
    display: flex;
    flex-direction: column;
    position: center;
  }
}